.app-container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}
.post-card {
  margin: 20px 50px;
  min-width: 25rem;
}
.hasthag {
  margin: 0px 4px;
  cursor: pointer;
}
